<div class="container">
    <h1>Contact Us</h1>
    <form action="/submit-contact" method="POST">
        <label for="name"><b>Your Name:</b></label>
        <input type="text" name="name" >

        <label for="email"><b>Your Email:</b></label>
        <input type="email"  name="email" >

        <label for="message"><b>Message:</b></label>
        <textarea  name="message" cols="30" rows="10"  ></textarea>

        <input type="submit" value="Send" class="btn">
    </form>
</div>