<div class="author">
  <h1 class="author_heading ">Welcome to BlogSphere </h1>
  <p class="author_body blog-heading">Every Post is a Journey and Every Reader is an Explorer</p>
  <a href="/admin" class="btn btn-admin">Admin Panel  &#8594;</a>
</div>

<img src="/img/type.jpg" alt="typewriter" class="hero-image"  width="781" height="500">

<section class="articles">
    <h2 class="articles_heading">Recent Posts</h2>

    <ul class="article-ul">
        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-list_date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
        <% }) %>
       
    </ul>

    <% if (nextPage!==null){ %>
        <a href="/?page=<%= nextPage %>" class="pagination"> &#171; View Older Posts</a>
    <% } %>
   
</section>
